<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StringCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA2A16EE1B98792200F5FF08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA2A17021B98792200F5FF08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA2A170D1B98792200F5FF08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
